
body{
    background-image: url(./assets/img/zyro-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #ffffff;
}

:root {
   --rojo: #ef3634;
   --gris: #1d1d1d;
   --blanco: #ffffff;
   --negro: #000000;
   --grisClaro:#2D2D2D;
}


@font-face {
    font-family: 'mont';
    src: url(./assets/fonts/Montserrat-Light.ttf);
}

