<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="main2">
    <section class="section1">
        <div class="button">
            <button routerLink="/catalogo" class="section1__button">VER MAS PRODUCTOS</button>
        </div>   
    </section>
</div>
<body>
    <img class="imgFondo"/>
    <main class="main">
        <h2 class="main__titulo">
            LO MAS<span class="main__titulo main__titulo-span"> VENDIDO</span>
        </h2>
        <div class="catalogo">
            <div class="card card"> 
                <div class="img">
                    <img src="../../../assets/img-catalogo/jack3.png" alt="" class="card__img"><!--elemento (B)-->
                    <img src="../../../assets/img-catalogo/back.png" alt="" class="card__backk">
                </div><!--Bloque (B)-->
                <h3 class="card__title">lucho</h3>
                <h4 class="card__cantidad">750<span class="card__cantidad--span">ml</span></h4>
                <span class="card__precio">lucho2</span>
                <button href="#" class="card__button">AGREGAR
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
            
        </div>
    </main>
</body>
