
body{
    background-image: url(../../../assets/img/32022.jpg);
 
    font-family: 'mont';
    background-size: cover;
    background-repeat: no-repeat;
}


.pedidos-header{
    padding: 100px 0;
}

.comprar , .titulo-header{
    display: flex;
    align-items: center;
    padding:  0 50px;
}

.productos{
    display: flex;
}

.productos__h2{
    font-family: 'proxi';
    color: var(--rojo);
}

.productos__img{
    width: 16rem;
}

.btn{
    background-color: var(--rojo);
    border: none;
    padding: 20px 30px;
    margin: 10px;
    font-family: 'proxi';
}

.precio{
    font-size: 2rem;
}

span{
    color: var(--rojo);
    display: flex;
    flex-direction: column;
}