<!-- <body>
    <div class="pedidos-header">
        <div class="titulo-header">
            <h1>CARRITO</h1>
        </div>
        <div class="comprar">
            <h3>TOTAL PRODUCTOS:</h3>
            <a href="#" class="btn-recibo btn btn-warning">Comprar</a>
        </div>
    </div>
    
    <div class="lista-productos" *ngFor="let productosCart of listCart"> 
        <div class="productos">
            <div class="imagen">
                <img  class="productos__img"  src={{productosCart.Urlimagen}} alt="">
            </div>
            <div class="informacion">           
                <h2 class="productos__h2">{{productosCart.Nombre}}</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa quis fugit voluptate eos facere</p>
                <p></p>
                <button class="btn-recibo btn btn-warning"  >Mermar</button>
                <button class="btn-recibo btn btn-warning"  >Agregar</button>
                <button class="btn-recibo btn btn-warning" (click)="eliminarDelCarrito(productosCart._id)" >Eliminar</button>
                <h2 class="precio">{{productosCart.Precio}} <span>Cantidad</span>{{productosCart.Cantidad}}</h2>
                
            </div>  
        </div>  
    </div> 
</body>

 -->