


.navbar__logo--img{
    width: 25rem;
    margin: 0 10px;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    font-family: 'proxi';
    position: fixed;
    width: 100%;
}

.navbar__ul{
   display: flex;
   padding: 0 20px;
   width: 100%;
   align-items: center;
   height: 100%;
}

.navbar__li{
    margin: 0 20px;
}

.navbar__a:hover{
    color: var(--rojo);
}

.footer{
    background-color: var(--gris);
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.footer__section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__h2{
    font-family: 'proxi';
}
.footer__p{
    font-family: 'mont';
    margin: 10px  ;
}
.footer__p{
    width: 60%;
    text-align: center;
}

.footer__datos{
    display: flex;
    align-items: center;
    padding: 10px;
}

.datos__p{
    padding: 0 0 0 10px;
    font-family: 'proxi';
}

.datos-span{
    color: var(--rojo);
}


.footer__redes{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.redes-footer{
    padding: 10px;
    font-size: 30px;
}

.menu{
    display: none;
}

@media screen and (min-width:1200px) {

    
    .navbar__li{
        margin: 0 60px;
    }

    .navbar__a{
        font-size: 1.2rem;
    }
    
    .navbar__logo--img{
        width: 30rem;
    }

}

@media screen and (max-width:1600px) {

    
    .navbar__li{
        margin: 0 20px;
    }

    .navbar__a{
        font-size: 1.2rem;
    }
    
    .navbar__logo--img{
        width: 30rem;
    }

}


@media screen and (max-width:1200px) {
    .navbar__enlaces{
        position:fixed;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.452);
        height: 100%;
       
    }
    .navbar__ul{
        flex-direction: column;
        justify-content: center;
        gap: 50px 0;
    }


    .footer{
        display: block;
        height: 100%;
    }

    .seccion-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    .menu{
        font-size: 2rem;
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        
    }

    .navbar__enlaces.mobile-menu{
        margin-right: -100%;
        transition: all 0.5s ease ;
    }

}

@media screen and (max-width:470px) {
    .navbar__logo--img{
        width: 350px;
    }
}