<div class="global">
  <div class="navbar">
    <a class="navbar__logo" href="">
      <img class="navbar__logo navbar__logo--img" src="../assets/img/logo.png" alt="">
    </a>
    <div class="navbar__enlaces">
        <ul class="navbar__ul">
          <li class="navbar__li">
              <a routerLink="/" class="navbar__a">INICIO</a>
          </li>
           <li class="navbar__li">
              <a routerLink="catalogo" class="navbar__a">CATALOGO</a>
          </li>
           <li class="navbar__li">
              <a href="" class="navbar__a">CONTACTANOS</a>
          </li>
           <li class="navbar__li">
              <a routerLink="pedidos" class="navbar__a">PEDIDOS</a>
          </li>
          <li class="navbar__li">
            <a routerLink="crearcuenta" class="navbar__a"><i class="fa-regular fa-user" style="color: #ffffff;"></i></a>
          </li>
          <li class="navbar__li">
            <a routerLink="carrito" class="navbar__a"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a>
          </li>
        </ul>
      </div>
      <i class="fa-solid fa-bars menu" style="color: #ffffff;"></i>
    
  </div>
  
  
  <router-outlet ></router-outlet>


  <footer class="footer">
      <div class="footer__section1 seccion-footer">
          <h2 class="footer__h2">ACERCA DE NOSOTROS</h2>
          <p class="footer__p">Somos una licorera con mas de 10 años en el mercado</p>
      </div>
      <div class="footer__section2 seccion-footer">
          <div class="footer__datos">
              <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
              <p class="datos__p"><span class="datos-span">ITAGUI</span>-ANTIOQUIA</p>
          </div>
          <div class="footer__datos">
            <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
              <p class="datos__p">313<span class="datos-span">249</span>6990</p>
          </div>
          <div class="footer__datos">
              <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
              <p class="datos__p">salsamentariala<span class="datos-span">69</span>@hotmail.com</p>
          </div>
      </div>
      <div class="footer__section3 seccion-footer">
        <img class="footer__logo navbar__logo--img" src="../assets/img/logo.png" alt="">
        <div class="footer__redes">
            <i class="fa-brands fa-instagram redes-footer" style="color: #ffffff;"></i>
            <i class="fa-brands fa-facebook redes-footer" style="color: #ffffff;"></i>
            <i class="fa-brands fa-whatsapp redes-footer" style="color: #ffffff;"></i>
        </div>
      </div>
  </footer>

</div>



