<div class="global">
  <div class="navbar">
    <a class="navbar__logo" href="">
      <img class="navbar__logo navbar__logo--img" src="../assets/img/logo.png" alt="">
    </a>
    <div class="navbar__enlaces">
        <ul class="navbar__ul">
          <li class="navbar__li">
              <a routerLink="/" class="navbar__a">INICIO</a>
          </li>
           <li class="navbar__li">
              <a routerLink="catalogo" class="navbar__a">CATALOGO</a>
          </li>
           <li class="navbar__li">
              <a href="" class="navbar__a">CONTACTANOS</a>
          </li>
           <li class="navbar__li">
              <a routerLink="pedidos" class="navbar__a">PEDIDOS</a>
          </li>
          <li class="navbar__li">
            <a  class="navbar__a abrir"><i class="fa-regular fa-user" style="color: #ffffff;"></i></a>
          </li>
          <li class="navbar__li">
            <a  class="navbar__a abrirCarrito"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a>
          </li>
        </ul>
      </div>
      <i class="fa-solid fa-bars menu" style="color: #ffffff;"></i>
  </div>

  <div class="perfil">
    <div class="perfil-section">
        <i class="fa-solid fa-x" style="color: #ffffff;"></i>
        <h2 class="perfil-h2 perfil-titulo">PERFIL</h2>
        <div class="perfil-header">
          <img src="../assets/img/perfil.jpg" alt="" class="perfil__img">
        </div>
        <hr>
        <div class="perfil-body">
            <h2 class="perfil-h2">NOMBRE</h2>
            <p class="perfil-p">Luis Miguel Alvarez</p>
            <h2 class="perfil-h2">CORREO ELECTRONICO</h2>
            <p class="perfil-p">luismiguelalvarezmarin109@gmail.com</p>
            <h2 class="perfil-h2">DIRECCION</h2>
            <p class="perfil-p">CRA 58B #14SUR-05</p>
        </div>
        <hr>
        <div class="perfil-footer">
            <button class="perfil-button">EDITAR PERFIL</button>
            <button class="perfil-button">CERRAR PERFIL</button>
        </div>
    </div>
    
    <div class="carrito">
      <i class="fa-solid fa-x salir-carrito" style="color: #ffffff;"></i>
        <div class="carrito-header">
            <div class="carrito__h2">TU CARRITO</div>
        </div>
            <div class="carrito-items" *ngFor="let productosCart of listCart">
                <hr>
                <div class="carrito__body">
                        <div class="carrito-img">
                            <img class="carrito-producto" [src]="'http://localhost:4000/uploads/' + productosCart.Urlimagen" alt="">
                        </div>
                        <div class="carrito__info">
                            <div class="carrito__descripcion">
                              <p class="carrito__p">{{productosCart.Nombre}}</p>
                              <p class="carrito__p">200ml</p>
                            </div>
                            <div class="carrito__pr-cant">
                                <div class="button-aumt">
                                    <button class="button-cantidad"  (click)="mermarAlCarrito(productosCart)" >-</button>
                                    <p class="carrito__cantidad">{{productosCart.Cantidad}}</p>
                                    <button class="button-cantidad" (click)="agregarAlCarrito(productosCart)">+</button>
                                </div>
                                <div class="carrito__precio">
                                    <p class="precio-carrito">$1.000.000</p>
                                </div>
                            </div>
                        </div>   
                </div>         
            </div>   
        </div>
  </div>
  
  
  <router-outlet ></router-outlet>


  <footer class="footer">
      <div class="footer__section1 seccion-footer">
          <h2 class="footer__h2">ACERCA DE NOSOTROS</h2>
          <p class="footer__p">Somos una licorera con mas de 10 años en el mercado</p>
      </div>
      <div class="footer__section2 seccion-footer">
          <div class="footer__datos">
              <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
              <p class="datos__p"><span class="datos-span">ITAGUI</span>-ANTIOQUIA</p>
          </div>
          <div class="footer__datos">
            <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
              <p class="datos__p">313<span class="datos-span">249</span>6990</p>
          </div>
          <div class="footer__datos">
              <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
              <p class="datos__p">salsamentariala<span class="datos-span">69</span>@hotmail.com</p>
          </div>
      </div>
      <div class="footer__section3 seccion-footer">
        <img class="footer__logo navbar__logo--img" src="../assets/img/logo.png" alt="">
        <div class="footer__redes">
            <i class="fa-brands fa-instagram redes-footer" style="color: #ffffff;"></i>
            <i class="fa-brands fa-facebook redes-footer" style="color: #ffffff;"></i>
            <i class="fa-brands fa-whatsapp redes-footer" style="color: #ffffff;"></i>
        </div>
      </div>
  </footer>

</div>



