
<body>

<div class="contactanos">
<div class="card-header">
    <h1>SALSAMENTARIA LA 69</h1>
    <p>Para ofrecerte el mejor servicion y venta de trago de la ciudad de Medellin</p>
</div>
</div>
  <form>
    <div class="title">
    <h2>CONTACTANOS</h2>
    </div>
    <div class="input">
      <input type="text" name="name" id="name" placeholder="Nombre">
      <input type="tel" name="phone" id="phone" placeholder="Telefono">
      <input type="Email" name="email" id="email" placeholder="Email" >
      <textarea name="message" id="message" cols="30" rows="1" placeholder="Mensaje"></textarea>

      <div class="form-txt">
        <a href="#">Politica de privacidad</a>
        <a href="#">Terminos y condiciones</a>
      </div>

      <input class="btn" type="submit" value="Enviar">

    </div>

  </form>
   


</body>
