.filtrar {
    display: inline-block;
    margin-left: 15%;
}
.titulo-header{
    display:inline-block;
    margin-left: 40%;
}
.titulo-header h1{
    margin-top: 50px;
    font-weight: 700;
}
.mini-catalogo{
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}
.buscador{
    display: inline-block;
    margin-left: 80%;
    margin-top: 10px;
}
.card{
    margin-top: 300px;
    display: inline-block;
    margin: 120px;  
    margin-left: 8%;
}
.card-title{
    font-size: 24px;
    font-weight: 60px;
    text-align: center;
}
.card img{
    height:290px;
}
.card .aguila{
    width: 60%;
    margin-left: 20%;
}
.catalogo-body{
    width: 70%;
    margin-left: 25%;
    margin-top: 60px;
}
.card .btn{
    margin-left: 28%;
}
.card-text{
    text-align: center;
}
.boton-productos{
    margin-top: 70px;
    margin-left: 44%;
}
.buscador .btn{
    border-radius: 70px;
}
.card .btn{
    border-radius: 70px;
}

.catalogo-body h5{
    text-align: center;
}
nav{
    height: 200px;
    margin-top: 100px;
    margin-left: 40%;
}